.control {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    height: calc(8*var(--tile-size));
    margin-left: 15px;
}

@media all and (max-width: 800px) {
    .control{
        flex-direction: row;
        width: calc(8*var(--tile-size));
        justify-content: space-between;
        height: 100px;
        overflow-y: scroll;
    }
}