@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root {
    --tile-size : 70px;
    --light-tile : #e9edcc;
    --dark-tile : #779954;
    --bg-color : #202020;
    --highlight : rgba(0,0,0,.1);
    --check : #f9ef97;
}

@media all and (max-width: 450px) {
    :root {
        --tile-size : 50px;
    }
}

html,body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: 'Sofia Sans', sans-serif;
  grid-template-columns: auto 220px;

}
button {
  background: #80b64b;
  color: white;
  border: 0 none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  font-size: 1.1em;
  cursor: pointer;
} 